.tile
    @apply text-white dark:text-black

    &[data-state='tbd']
        @apply text-black dark:bg-neutral-900 dark:border-neutral-500

    &[data-state='empty']
        @apply dark:bg-neutral-900 dark:border-neutral-700

.tile
    &[data-state='correct']
        background-color: var(--color-correct)

    &[data-state='present']
        background-color: var(--color-present)

    &[data-state='absent']
        background-color: var(--color-absent)

    &[data-state='tbd']
        background-color: var(--color-tone-7)
        border: 2px solid var(--color-tone-3)

    &[data-state='empty']
        border: 2px solid var(--color-tone-4)

    &[data-animation='pop']
        animation-name: PopIn
        animation-duration: 100ms

    &[data-animation='flip-in']
        animation-name: FlipIn
        animation-duration: 250ms
        animation-timing-function: ease-in

    &[data-animation='flip-out']
        animation-name: FlipOut
        animation-duration: 250ms
        animation-timing-function: ease-in

@keyframes PopIn
    from
        transform: scale(0.8)
        opacity: 0
    40%
        transform: scale(1.1)
        opacity: 1

@keyframes FlipIn
    0%
        transform: rotateX(0)
    100%
        transform: rotateX(-90deg)

@keyframes FlipOut
    0%
        transform: rotateX(-90deg)
    100%
        transform: rotateX(0)
