.game {
  max-width: var(--game-max-width);
  height: calc(100% - var(--header-height));
}

.board {
  max-width: 350px;
  min-width: 150px;
  max-height: 420px;
  min-height: 180px;
  box-sizing: border-box;
}
