.game {
  max-width: var(--game-max-width);
  max-height: calc(100vh - 210px - var(--header-height));
}

.board {
  box-sizing: border-box;
  min-width: 150px;
  max-width: 350px;
  min-height: 180px;
  max-height: 420px;
}
