@tailwind base;
@tailwind components;
@tailwind utilities;

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

@font-face {
  font-weight: 700;
  src: local('Karnak Condensed Bold'), url(@/assets/fonts/Karnak-Condensed-Bold.woff2) format('woff');
  font-family: 'Karnak Condensed Bold';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: local('Karnak'), url(@/assets/fonts/Karnak-Regular.woff2) format('woff');
  font-family: 'Karnak';
}

/* VARIABLE CONFIG */
:root {
  --color-tone-1: #000000;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --color-nav-hover: #f4f4f4;
  --opacity-50: rgba(255, 255, 255, 0.5);

  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;

  --color-present: var(--yellow);
  --color-correct: var(--green);
  --color-absent: var(--color-tone-2);
  --tile-text-color: var(--color-tone-7);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-7);
  --key-bg: var(--color-tone-4);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);
  --header-height: 50px;
  --keyboard-height: 200px;
  --game-max-width: 500px;
  font-size: 16px;
}

html,
#root {
  @apply h-full;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply m-0 h-full bg-white p-0 dark:bg-neutral-900;
}
