/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* TailwindCSS import */
@import 'tailwindcss';
@import './theme.css';

/* Local fonts import */
@layer utilities {
  /* Karnak */
  @font-face {
    font-style: normal;
    font-weight: 400;
    src:
      local('Karnak'),
      url(@/assets/fonts/karnak/karnak-400.woff2) format('woff');
    font-family: 'Karnak';
  }

  @font-face {
    font-style: normal;
    font-weight: 500;
    src:
      local('Karnak'),
      url(@/assets/fonts/karnak/karnak-500.woff2) format('woff');
    font-family: 'Karnak';
  }

  /* Karnak Condensed */
  @font-face {
    font-weight: 700;
    src:
      local('Karnak Condensed Bold'),
      url(@/assets/fonts/karnak-condensed/karnak-condensed-700.woff2) format('woff');
    font-family: 'Karnak Condensed Bold';
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility min-h-screen-mobile {
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
}

@layer base {
  :root {
    --header-height: 50px;
    --keyboard-height: 200px;
    --game-max-width: 500px;
  }

  *,
  *::before,
  *::after {
    @apply m-0 box-border p-0;
  }

  html,
  #root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white dark:bg-neutral-950;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
  }
}
