@tailwind base;
@tailwind components;
@tailwind utilities;

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

@font-face {
  font-weight: 700;
  src: local('Karnak Condensed Bold'), url(@/assets/fonts/Karnak-Condensed-Bold.woff2) format('woff');
  font-family: 'Karnak Condensed Bold';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: local('Karnak'), url(@/assets/fonts/Karnak-Regular.woff2) format('woff');
  font-family: 'Karnak';
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: local('Karnak'), url(@/assets/fonts/Karnak-Medium.woff2) format('woff');
  font-family: 'Karnak';
}

@layer base {
  :root {
    --header-height: 50px;
    --keyboard-height: 200px;
    --game-max-width: 500px;
  }

  *,
  *::before,
  *::after {
    @apply m-0 box-border p-0;
  }

  html,
  #root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white dark:bg-neutral-950;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
  }
}

@layer utilities {
  .min-h-screen-mobile {
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
  }
}
