.game
  width: 100%
  max-width: var(--game-max-width)
  margin: 0 auto
  height: calc(100% - var(--header-height))
  display: flex
  flex-direction: column

  &-board
    max-width: 350px
    min-width: 150px
    max-height: 420px
    min-height: 180px
    display: grid
    grid-template-rows: repeat(6, 1fr)
    grid-gap: 5px
    padding: 10px
    box-sizing: border-box

    &__container
      display: flex
      justify-content: center
      align-items: center
      flex-grow: 1
      overflow: hidden

    &__row
      display: grid
      grid-template-columns: repeat(5, 1fr)
      grid-gap: 5px

  &-tile
    display: inline-flex
    justify-content: center
    align-items: center

    font-size: 2rem
    line-height: 2rem
    font-weight: bold
    vertical-align: middle
    text-transform: uppercase
    user-select: none

    box-sizing: border-box
    color: var(--tile-text-color)

    &[data-state='correct']
      background-color: var(--color-correct)

    &[data-state='present']
      background-color: var(--color-present)

    &[data-state='absent']
      background-color: var(--color-absent)

    &[data-state='tbd']
      background-color: var(--color-tone-7)
      border: 2px solid var(--color-tone-3)
      color: var(--color-tone-1)

    &[data-state='empty']
      border: 2px solid var(--color-tone-4)

    &[data-animation='pop']
      animation-name: PopIn
      animation-duration: 100ms

    &[data-animation='flip-in']
      animation-name: FlipIn
      animation-duration: 250ms
      animation-timing-function: ease-in

    &[data-animation='flip-out']
      animation-name: FlipOut
      animation-duration: 250ms
      animation-timing-function: ease-in


@keyframes PopIn
  from
    transform: scale(0.8)
    opacity: 0
  40%
    transform: scale(1.1)
    opacity: 1


@keyframes FlipIn
  0%
    transform: rotateX(0)
  100%
    transform: rotateX(-90deg)


@keyframes FlipOut
  0%
    transform: rotateX(-90deg)
  100%
    transform: rotateX(0)
