.tile {
  &[data-animation='pop'] {
    animation-duration: 100ms;
    animation-name: PopIn;
  }

  &[data-animation='flip-in'] {
    animation-duration: 250ms;
    animation-timing-function: ease-in;
    animation-name: FlipIn;
  }

  &[data-animation='flip-out'] {
    animation-duration: 250ms;
    animation-timing-function: ease-in;
    animation-name: FlipOut;
  }
}

@keyframes PopIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes FlipIn {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@keyframes FlipOut {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
